<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap 5 Login Form Example</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="font/bootstrap-icons.css" />

  <script>
    function checkPassword(event) {
    }
  </script>

</head>

<body>
  <div class="container-fluid vh-100" style="margin-top:10px">
    <div class="" style="margin-top:100px">
      <div class="rounded d-flex justify-content-center">
        <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
          <div class="text-center">
            <h3 class="text-primary">Register New Account</h3>
          </div>
          <form onSubmit="return checkPassword(event);" method="post">
            <div class="p-4">
              <!-- Original Fields Start -->
              <div class="input-group mb-3">
                <span class="input-group-text bg-primary">
                  <i class="bi bi-person-plus-fill text-white"></i>
                </span>
                <input id="username" name="username" type="text" class="form-control" placeholder="Username">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text bg-primary"><i class="bi bi-key-fill text-white"></i></span>
                <input id="password1" type="password" class="form-control" placeholder="Password">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text bg-primary"><i class="bi bi-key-fill text-white"></i></span>
                <input id="password2" type="password" class="form-control" placeholder="Re-enter Password">
              </div>

              <!-- Full Name -->
              <div class="input-group mb-3">
                <span class="input-group-text bg-primary">
                  <i class="bi bi-person-fill text-white"></i>
                </span>
                <input id="fullname" name="fullname" type="text" class="form-control" placeholder="Full Name">
              </div>

              <!-- Email -->
              <div class="input-group mb-3">
                <span class="input-group-text bg-primary">
                  <i class="bi bi-envelope-fill text-white"></i>
                </span>
                <input id="email" name="email" type="email" class="form-control" placeholder="Email">
              </div>

              <!-- Gender (list) -->
              <div class="input-group mb-3">
                <span class="input-group-text bg-primary">
                  <i class="bi bi-gender-ambiguous text-white"></i>
                </span>
                <select id="gender" name="gender" class="form-control">
                  <option disabled selected value="">Select Gender</option>
                  <option>Male</option>
                  <option>Female</option>
                  <option>Other</option>
                  <option>Prefer not to say</option>
                </select>
              </div>

              <!-- Education (dropdown) -->
              <div class="input-group mb-3">
                <span class="input-group-text bg-primary">
                  <i class="bi bi-mortarboard-fill text-white"></i>
                </span>
                <select id="education" name="education" class="form-control">
                  <option disabled selected value="">Highest Education</option>
                  <option>High School</option>
                  <option>Associate Degree</option>
                  <option>Bachelor’s Degree</option>
                  <option>Master’s Degree</option>
                  <option>PhD</option>
                </select>
              </div>

              <!-- End of the client-requested fields -->

              <div>
                <p id="message" class="text-danger" style="height:25px">
                  PROBLEM MESSAGE HERE
                </p>
              </div>
              <input type="hidden" id="hash" name="hash">
              <input type="hidden" id="salt" name="salt">
              <div class="text-center">
                <button class="btn btn-primary mt-2" type="submit">
                  Create Account
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
